<%- include('partials/header', { desc: 'To do was added to list.' }) %>

<h1><%= title %></h1>
<h2>Thank you for contact me!</h2>
<ul>
  <li>Title: <%= info.title %></li>
  <li>Text: <%= info.text %></li>
</ul>
<a href="/contact">Go back to Contact</a>

<%- include('partials/footer') %>
